pandas~=1.5
sqlalchemy~=2.0
psycopg2-binary~=2.9
ta~=0.10
XlsxWriter~=3.0
typing_extensions~=4.4
quantstats~=0.0
ipython
python-dotenv~=1.0

# Sytle
black[jupyter]~=23.0
docformatter[tomli]~=1.0
ruff~=0.0

# Test
coverage[toml]~=7.2
pytest~=7.0
pytest-kwparametrize~=0.0
pytest-xdist[psutil]~=3.0
pytest-env~=0.8

# Doc
sphinx~=6.2
sphinx-book-theme~=1.0
ezyquant-execution

# Build
hatch