pandas~=1.3
sqlalchemy~=2.0
psycopg2-binary~=2.9
ta~=0.10
XlsxWriter~=3.0
typing_extensions~=4.4
quantstats~=0.0
zigzag==0.2.2 # TODO: use pandas_ta instead when it's released

# Sytle
isort~=5.0
black~=22.0
docformatter~=1.0
autoflake~=1.0

# Test
pytest~=7.0
pytest-kwparametrize~=0.0
pytest-xdist[psutil]~=3.0

# Doc
sphinx~=6.2
sphinx-book-theme~=1.0
ezyquant-execution

# Build
wheel
setuptools
twine
build