pandas>=1.3
sqlalchemy>=2.0
psycopg2-binary>=2.9
ta>=0.10
XlsxWriter>=3.0
typing_extensions>=4.4
quantstats>=0.0

# Dev
pytest
pytest-kwparametrize
isort
black[jupyter]
docformatter
autoflake
sphinx
sphinx-book-theme
pytest-xdist[psutil]
ezyquant-execution